h6 {
    color: black;
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 0px;
  }
  
  li {
     margin-bottom: 10px;
  }

.project-name {
   margin-left: 50px;
}

.project-title {
   margin: 30px;
}