<div class="card rounded-0 ">
  <div class="card-body feed-box scrollbar-morpheus-den square">
    <div class="container openings-content">
      <p>We blend approaches that span from software engineering to machine learning,
        natural language processing and formal methods to address the main challenges
        that characterize smart ecosystems, ultra-large complex systems that emerge
        from autonomous cyber physical systems and people, like smart cities,
        smart buildings, smart grids.</p>

      <div *ngIf="openingComponent" class="mb-3">
        <h3>Current Openings</h3>
      </div>
      <div *ngFor="let feed of openingComponent">
        <div class="  align-self-center">
          <ul class="unordered-list">
            <li class="ml-2"><strong> Position: </strong>   {{feed.title}}, {{feed.count}} Person(s)
              <ul class="unordered-list">
                <div><strong> Short description: </strong>   {{feed.desc}}
                </div>
              </ul>
            </li>
          </ul>
        </div>
        <div class="row ">
          <div class="col ">
            <hr class="border-primary m-1">
          </div>
        </div>
      </div>
      <br>
      <div *ngIf="(openingComponent | json) === ([] | json)">
        <li><strong>Unfortunately we don't have any position at the moment</strong></li>
      </div>

      <div *ngIf="(openingComponent | json) !== ([] | json)">
        <strong>Process:</strong><span> please send a CV and a research statement to <a
        href="mailto:mauro.pezze@usi.ch">mauro.pezze@usi.ch</a> or <a href="mailto:mauro.pezze@sit.ch"> mauro.pezze@sit.ch </a>
        </span>
      </div>
    </div>
    <!--news scroll ends-->
  </div>
</div>
