/*Scroll bar begin*/


.feed-box {
  position: relative;
  overflow-y: scroll;
  height: 300px;
}


/* end scroll*/

/*Research Interest*/
.menu-content p {
  color: white;
}

.review-area img {
  width: 75px;
  height: 75px;
}

.single-service img {
  width: 150px;
  height: 150px;
}

hr {
  margin: 0;
}

div {
  color: black;
}


.grad {
  background-image: linear-gradient(to bottom, black ,#1c1764, white);
}

.portfolio {
  background-image: url("../../../assets/img/breadcumb.png");
  background-repeat: no-repeat;
}


.mid-section-2 {
  background-image: url("../../../assets/img/bg4.jpeg");
  height: 250px;
}

.mid-section-1 {
  background-image: url("../../../assets/img/page-background.jpg");
  height: 250px;
}

.bg-image {
  position: relative;
  z-index: 0;
	background-position:center;
	background-size:cover;
}

.bg-image.bg-parallax {
	background-attachment:fixed;
}

.bg-image.overlay:after {
  content: "";
   position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  z-index: -1;
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(#374050), to(#798696));*/
	/*background-image: linear-gradient(to bottom, #374050 0%, #798696 100%);*/
	background-image: linear-gradient(to bottom, #374050 0%, #0056b3 100%);
	/*background-image: linear-gradient(to bottom, #fb83b5 0%, #9a51ff 100%);*/
	opacity: 0.7;
}





.layer-1 {
  z-index: 0;
}

.layer-2 {
  z-index: 1;
  margin-top: -150px;
}

