<!-- start banner Area -->
<section class="banner-area relative rounded-0" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-center">
      <div class="banner-content col-lg-10">
        <h1 class="align-self-center">
          The Software Testing and Analysis Research (STAR)
        </h1>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start portfolio-area Area -->
<section class="portfolio-area pb-5 portfolio" >

  <div class="mid-section-1 container-fluid bg-image bg-parallax overlay layer-1">
  </div>
  <div class="container mb-5 layer-2">
    <div class="row">
      <div class="col-12 col-md-7 mt-3">
        <div class="row mb-3">
          <div class="col  text-center">
            <h3 class="text-white">News</h3>
          </div>
        </div>
        <app-news></app-news>
      </div>
      <div class="col-12 col-md-5 mt-3">
        <div class="row mb-3">
          <div class="col  text-center">
            <h3 class="text-md-black ">Highlights</h3>
          </div>
        </div>
        <app-highlight></app-highlight>
      </div>
    </div>
  </div>


  <div class="mid-section-2 container-fluid bg-image bg-parallax overlay layer-1">
  </div>
  <div class="container layer-2">
    <div class="row">
      <div class="col-12 col-md-7 mt-3">
        <div class="row mb-3  ">
          <div class="col  text-center">
            <h3 class="text-white">Ongoing Projects</h3>
          </div>
        </div>
        <app-researches></app-researches>
      </div>
      <div class="col-12 col-md-5 mt-3">
        <div class="row mb-3">
          <div class="col  text-center">
            <h3 class="text-md-black">Ongoing Collaborations</h3>
          </div>
        </div>
        <app-collaborations></app-collaborations>
      </div>
    </div>
  </div>


</section>
