<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-center">
      <div class="banner-content col-lg-10">
        <h5 class="text-uppercase">
          <a href="http://www.usi.ch/">
            USI Università della Svizzera italiana
          </a>
        </h5>
        <h5 class="text-uppercase">Lugano, Switzerland</h5>
        <h1>
          The Software Testing and Analysis Research (STAR) lab
        </h1>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start portfolio-area Area -->
<section class="portfolio-area section-gap" id="portfolio">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content col-lg-10">
        <div class="title text-center">
          <h1 class="mb-10">News</h1>
          <!--<p>Who are in extremely love with eco friendly system..</p>-->
        </div>
      </div>
    </div>
    <div class="panel-body-fix">
      <!--news scroll begin-->

      <div class="card example-1 scrollbar-morpheus-den">
        <div class="card-body">
          <div class="container">

            <div class="row" *ngFor="let feed of NEWS">
              <div class="col-2 mt-1">
                <span class=" genric-btn btn-block  primary circle small">{{feed.pub_date | date:'MMM'}}
                  . {{feed.pub_date | date:'yyyy'}}</span>
              </div>
              <div class="col-10 mt-1" [innerHTML]="feed.news_text">

              </div>
            </div>

          </div>
        </div>
      </div>
      <!--news scroll ends-->
    </div>

  </div>
</section>
<!-- End portfolio-area Area -->


<!-- Start Research Area -->
<section class="service-area section-gap relative" id="service">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-10">
        <div class="title text-center">
          <h1 class="mb-10 text-white">Research Areas</h1>
          <p>Active research in software engineering in the areas of software testing, program analysis,
            self-healing complex systems, engineering scientific software systems </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Research Area -->

<!-- Start Research Area -->
<section class="services-area pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="single-service">
          <img class="img-fluid" src="assets/img/software-test.png" alt="">
          <h4>Software Testing</h4>
          <span>Testing Concurrent and Distributed Systems</span><br>
          <span>Testing Interactive Applications</span><br>
          <span>Test oracles</span><br>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-service">
          <img class="img-fluid" src="assets/img/self-healing.png" alt="">
          <h4>Self-healing Complex Systems</h4>
          <span>Failure prediction </span><br>
          <span>fault localization</span><br>
          <span> self-healing on-demand for complex software applications and cloud systems</span><br>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-service">
          <img class="img-fluid" src="assets/img/program-analysis.png" alt="">
          <h4>Program Analysis</h4>
          <p>
            <span>Symbolic analysis of complex software systems</span><br>
            <span>Engineering scientific software systems</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Research Area -->

<!-- Start review Area -->
<section class="review-area section-gap" id="testimonial">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-10">
        <div class="title text-center">
          <h1 class="mb-10">History and Collaborations</h1>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="single-review">

          <img src="assets/img/history-icon.png" alt="">
          <img src="assets/img/collab-icon.png" alt="">
          <div class="title d-flex flex-row">
          </div>
          <p>
            Founded by Mauro Pezzè in 2006. <br>
            It hosted over 30 PhD students and postdocs. <br>
            Active main collaborations with: </p>
          <ul class="unordered-list">
            <li> The twin Laboratory for Software Testing and Analysis (LTA) of the Università di Milano Bicocca
              (founded and directed by Mauro Pezzè since 2000) (Milano, Italy)and with
            </li>
            <li>Oregon University (Eugene, US).
              <a href="http://ix.cs.uoregon.edu/~michal/">(Michal Young)</a>
            </li>
            <li>University of Washington (Seattle, US).
              <a href="https://homes.cs.washington.edu/~mernst/">(Michal Ernst)</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End review Area -->
