<!-- start footer Area -->
<footer class="footer-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6>Address</h6>
          <p>
         Faculty of Informatics, <a href="https://www.usi.ch/en">Università della
Svizzera italiana</a> Via Giuseppe Buffi 13, 6900 Lugano, Switzerland
          </p>

        </div>
      </div>
      <div class="col-lg-5  col-md-6 col-sm-6">
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
        <div class="single-footer-widget">
          <h6>Follow Us</h6>
          <p>Let us be social</p>
          <div class="footer-social d-flex align-items-center">
            <a href="https://www.facebook.com/STAR.USI.Lugano/"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/STAR_USI"><i class="fa fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End footer Area -->
