<section class="generic-banner relative">
  <div class="container">
    <div class="row height align-items-center justify-content-center">
      <div class="col-lg-10">
        <div class="generic-banner-content">
          <h2 class="text-white">Research Areas</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- About Generic Start -->
<div class="main-wrapper portfolio">

  <!-- Start Generic Area -->
  <section class="about-generic-area section-gap">
    <div class="container border-top-generic ">
      <div class="container">
        <!--   <h3 class="text-heading">Software Testing</h3>
           <p class="sample-text">
             Aim to improve the quality of complex software systems by automatically generating test suites form complex
             software systems.
             On going research on
           </p>-->

        <div class="research-m">
          <h3>A little history</h3>
          <div class="  row ">
            <div class="  col-8">
              <hr class="mt-0 pt-0 border-info"/>
            </div>
          </div>

          <ul class="unordered-list ml-5">
            <li>
              <div>2000 Mauro Pezzè founds LTA Laboratory of Testing and Analysis
                at
                <a href="www.disco.unimib.it"> DISCo (Dipartimento di Informatics Sistemistica e Comunicazione)</a>
                of <a href="https://www.unimib.it/"> Università degli studi di Milano Bicocca</a> in Milan.
                The lab is a twin institution with many common projects and interests.
              </div>
            </li>
            <li>
              <div>
                2006 Mauro Pezzè founds STAR Software Testing and Analysis Research Team at the Faculty of informatics
                of USI Università della Svizzera Italiana in Lugano.
              </div>

            </li>
            <li>
              <div>
                2020 Mauro Pezzè founds STAR Software Testing and Analysis Research Team at the Schaffhausen Institute
                of Technology in Schaffhausen
              </div>

            </li>
          </ul>
        </div>

        <div class="research-m">
          <h3>Background and expertise</h3>
          <div class="  row ">
            <div class="  col-8">
              <hr class="mt-0 pt-0 border-info"/>
            </div>
          </div>

          we are leaders in:
          <ul class="unordered-list ml-5">
            <li>
              <div><h6>software testing</h6></div>
              <ol class="unordered-list-black">
                <li>
                  testing concurrent systems
                </li>
                <li>
                  testing interactive applications
                </li>
                <li>
                  test case generation
                </li>
                <li>
                  test evolution and reuse
                </li>
                <li>
                  oracle generation and improvement
                </li>
              </ol>
            </li>

            <li>
              <div><h6>program analysis</h6></div>
              <ol class="unordered-list-black">
                <li>
                  symbolic execution
                </li>
                <li>
                  dynamic analysis
                </li>


              </ol>
            </li>

            <li>
              <div><h6>self-healing systems</h6></div>
              <ol class="unordered-list-black">
                <li>
                  automatic workaround
                </li>
                <li>
                  failure prediction and fault localization
                </li>


              </ol>
            </li>
          </ul>
        </div>

        <h3>Goals and Targets</h3>
        <div class="  row ">
          <div class="  col-8">
            <hr class="mt-0 pt-0 border-info"/>
          </div>
        </div>
        <ul class="unordered-list ml-5">
          <li>
            we are currently working on the grand challenge of verifying smart ecosystems, ultra-large complex
            systems that emerge from autonomous cyber physical systems and people, link in the case of smart cities,
            smart buildings, smart grids
          </li>
          <ul>
            <li>
              <h6>current projects focus on: </h6>
              <ul class="unordered-list-black">
                <li>
                  generation of oracle assertions from informal annotations in natural language :

                </li>
                <li>
                  generation of semantically-relevant test cases for interactive applications from

                </li>
              </ul>
            </li>
          </ul>
        </ul>


      </div>


    </div>
  </section>


</div>
