<section class="generic-banner relative">
  <div class="container">
    <div class="row height align-items-center justify-content-center">
      <div class="col-lg-10">
        <div class="generic-banner-content">
          <h2 class="text-white">Research Areas</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- About Generic Start -->
<div class="main-wrapper portfolio">

  <!-- Start Generic Area -->
  <section class="about-generic-area section-gap">
    <div class="container border-top-generic ">
      <div class="container">
     <!--   <h3 class="text-heading">Software Testing</h3>
        <p class="sample-text">
          Aim to improve the quality of complex software systems by automatically generating test suites form complex
          software systems.
          On going research on
        </p>-->
        <ul class="unordered-list">
          <li>
            <h4>A little history</h4>
            <ul>
              <li>
                <div>2000 Mauro Pezzè founds LTA Laboratory of Testing and Analysis
                 at
                 <a href="www.disco.unimib.it"> DISCo (Dipartimento di Informatics Sistemistica e Comunicazione)</a> 
                 of <a href="https://www.unimib.it/"> Università degli studi di Milano Bicocca</a> in Milan. 
                 The lab is a twin institution with many common projects and interests.
                </div> 
                </li>
                <li>
                  <div>
                    2006 Mauro Pezzè founds STAR Software Testing and Analysis Research Team at the Faculty of informatics of USI Università della Svizzera Italiana in Lugano.
                  </div>

                </li>
                <li>
                  <div>
                    2020 Mauro Pezzè founds STAR Software Testing and Analysis Research Team at the Schaffhausen Institute of Technology in Schaffhausen
                  </div>

                </li>
            </ul>
            </li>
          <li>
            <h4>Background and expertise</h4>
            <h5>we are leaders in: </h5>
           <ul>
                    <li>
                      <div><h6>software testing</h6></div>
        <ol>
          <li>
            testing concurrent systems
          </li>
          <li>
            testing interactive applications
          </li>
          <li>
            test case generation
          </li>
          <li>
            test evolution and reuse
          </li>
          <li>
            oracle generation and improvement
          </li>
        </ol>
                    </li>

                    <li>
                      <div><h6>program analysis</h6></div>
        <ol>
          <li>
            symbolic execution
          </li>
          <li>
            dynamic analysis
          </li>
         
         
        </ol>
                    </li>

                    <li>
                      <div><h6>self-healing systems</h6></div>
        <ol>
          <li>
            automatic workaround
          </li>
          <li>
            failure prediction and fault localization
          </li>
         
         
        </ol>
                    </li>
           </ul>
      
          </li>
          <li>
            <h4>Goals and Targets</h4>

          <ul>
            <li>
              we are currently working on the grand challenge of verifying smart ecosystems,  ultra-large complex systems that emerge from autonomous cyber physical  systems and people, link in the case of smart cities, smart buildings, smart grids
            </li>
            <ul>
              <li>
                <h6>current projects focus on: </h6>
                <ul>
                  <li>
                    generation of oracle assertions from informal annotations in natural language  : 
                    
                  </li>
                  <li>
                    generation of semantically-relevant test cases for interactive applications from  
                    
                  </li>
                </ul>
              </li>
            </ul>
          </ul>

          </li>

        </ul>
        <hr class="border-info"/>
      </div>

     

    </div>
  </section>


</div>
