
<section class="generic-banner relative">
  <div class="container">
    <div class="row height align-items-center justify-content-center">
      <div class="col-lg-10">
        <div class="generic-banner-content">
          <h2 class="text-white">Software and Data</h2>
          <!--<p class="text-white">It won’t be entries bigger problem to find one video game lover in your <br> neighbor. Since the introduction of Virtual Game.</p>-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- About Generic Start -->
<div class="main-wrapper">

  <!-- Start Generic Area -->
  <section class="about-generic-area section-gap">
    <div class="container border-top-generic">

      <div class="card-deck mb-3 ">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h3 class="my-0 font-weight-normal text-center">EmBeD</h3>
          </div>
          <div class="card-body d-flex flex-column">
            <p>
              EmBeD, Energy-based anomaly detector in the cloud, is an approach to detect anomalies at runtime based on
              the free energy of a Restricted Boltzmann Machine (RBM) model. We released the experimental data.
            </p>
            <a routerLink="/home" class="btn btn-lg btn-block btn-primary mt-auto" role="button">View Detail</a>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h3 class="my-0 font-weight-normal text-center">SBES</h3>
          </div>
          <div class="card-body d-flex flex-column ">
            <p>
              Several reliability techniques exploit redundancy to either detect or tolerate faults in software. The
              common assumption of these techniques, though, is that such redundancy is known a priori. This means that
              the set of operations that are supposed to be equivalent in a given component should be available in the
              specifications. Unfortunately, inferring this information manually can be expensive and error prone.
              SBES is search-based tool to automatically synthesize sequences of method invocations that are equivalent
              to a target method.
            </p>
            <a routerLink="/home" class="btn btn-lg btn-block btn-primary mt-auto" role="button">View Detail</a>

          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h3 class="my-0 font-weight-normal text-center">ARMOR</h3>
          </div>
          <div class="card-body d-flex flex-column ">
            <p>
              Self-healing tool that implements the automatic workaround technique for JAVA software systems.
            </p>
            <a routerLink="/home" class="btn btn-lg btn-block btn-primary mt-auto" role="button">View Detail</a>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
