<section class="generic-banner relative">
  <div class="container">
    <div class="row height align-items-center justify-content-center">
      <div class="col-lg-10">
        <div class="generic-banner-content">
          <h2 class="text-white">Open Call</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- About Generic Start -->
<div class="main-wrapper portfolio">

  <!-- Start Generic Area -->
  <section class="about-generic-area section-gap">
    <div class="container border-top-generic ">
      <div class="container">
        <h3 class="text-heading">Postdoc and PhD positions at the STAR Software Testing and Analysis Research Lab a
          joint USI-SIT laboratory (USI Università della Svizzera Italiana, Lugano, SIT Schaffhausen Institute of
          Technology, Schaffhausen, Switzerland)
        </h3>
        <p class="sample-text text-justify">
          Applications are invited for both Postdoc and PhD positions in the STAR Software Testing and Analysis research
          Lab, a joint USI-SIT laboratory (USI Università della Svizzera Italiana, Lugano, SIT Schaffhausen Institute of
          Technology, Schaffhausen, Switzerland).

          Postdocs and PhD students will work on the new challenges of testing people-centric eco-systems, systems like
          smart cities, where people interact with the environment through sensors and interfaces for improving
          lifestyle and conditions.

          The project is looking for candidates with interests in coping with new challenges that derive from the
          characteristics of such systems, absence of stable requirements, nondeterministic behavior, evolving
          environment conditions, and a novel concept of quality, by blending and exploring a variety of approaches to
          predict failures, diagnose faults, and generate workarounds to sustain the overall offered services.

          We look for postdocs who are willing to improve their skills, learn and develop new methods, by addressing
          complex and challenging problems, and with interests in any of these fields: software testing, program
          analysis, self-healing systems, natural language processing, machine learning, statistical models,
          probabilistic analysis. Skills in any of the areas are welcome but not strictly required.

          We look for PhD students willing to widen their background in any of the areas of interests and acquiring
          skills to improve approaches and methodologies by tackling hard and relevant problems.

          The research will exploit machine learning and statistical models to efficiently and precisely reveal
          anomalies in large people-centric eco-systems, probabilistic analysis to investigate non-deterministic
          behavior of people and system to locate failures, dynamic analysis and natural language processing to learn
          system properties and generate test cases and oracles, diagnose faults and generate automatic workarounds to
          fix failures.

          PhD students and Postdocs will join a lively research team in the STAR Software Testing and Analysis research
          Lab, a leading center for research in software testing and program analysis. They will work mainly in the
          novel <a href="https://sit.org">Schaffhausen Institute of Technology</a> in Schaffhausen (Switzerland) in
          collaboration
          with the <a href="http://star.inf.usi.ch">STAR</a> laboratory in Lugano under the guidance of <a
          href="https://www.inf.usi.ch/faculty/pezze/"> Mauro Pezzè</a>.

          The positions will be funded by the Schaffhausen Institute of Technology with a salary level of 70.000 Swiss
          francs (approx 64.000 Euro) for PhD students and 96.000 Swiss francs (approx 87.000 euro) for Postdocs. The
          PhD positions are funded for the whole duration of the PhD (expected 4 years) and up to 3 years for Postdocs
          with a tenure track option after the first year.

          Key Requirements

          Postdoc candidates should hold a PhD in a relevant subject, or will shortly be assessed for a PhD level
          qualification. Expertise in one or more of the areas indicate above (software testing, program analysis,
          self-healing systems, natural language processing, machine learning, statistical models, probabilistic
          analysis) and willingness to study their applications in software engineering and quality analysis is highly
          appreciated. Publication in relevant leading peer reviewed conferences and/or journals is essential.

          PhD candidates should hold a Master in a relevant subject, or will shortly be assessed for a Master level
          qualification. Interests in one or more of the areas indicate above (software testing, program analysis,
          self-healing systems, natural language processing, machine learning, statistical models, probabilistic
          analysis) and willingness to study their applications in software engineering and quality analysis is
          essential.

        </p>
        <ul class="unordered-list">
          <li>
            <h4>Key Requirements</h4>
            <p class="text-justify">
              Postdoc candidates should hold a PhD in a relevant subject, or will shortly be assessed for a PhD level
              qualification. Expertise in one or more of the areas indicate above (software testing, program analysis,
              self-healing systems, natural language processing, machine learning, statistical models, probabilistic
              analysis) and willingness to study their applications in software engineering and quality analysis is
              highly
              appreciated. Publication in relevant leading peer reviewed conferences and/or journals is essential.

              PhD candidates should hold a Master in a relevant subject, or will shortly be assessed for a Master level
              qualification. Interests in one or more of the areas indicate above (software testing, program analysis,
              self-healing systems, natural language processing, machine learning, statistical models, probabilistic
              analysis) and willingness to study their applications in software engineering and quality analysis is
              essential.
            </p>

          </li>
          <li>
            <h4>The Research Environment</h4>

            <p class="text-justify">
              Postdocs and PhD students will work in the novel Schaffhausen Institute of Technology, in Schaffhausen,
              Switzerland, under the supervision of Mauro Pezzè and in cooperation with the STARt research laboratory in
              Lugano.
              The STAR team is active in Lugano since 2006, and has hosted 19 PhD students and 8 Postdocs, all of them
              now
              successfully working in leading research and commercial institutions. The Software Quality team is
              currently
              being established in Schaffhausen with a rich budget and extremely ambitious plans. Both groups are led by
              Mauro Pezzè, the Editor in Chief of ACM Transactions on Software Engineering and Methodologies (ACM
              TOSEM).
            </p>
          </li>

          <p>
            For informal enquiries about the technical aspects of the post please contact Mauro Pezzè at <a
            href="mailto:mauro.pezze@usi.ch">mauro.pezze@usi.ch</a>.
            <br><br>
            To apply for this position send your CV at <a href="mailto:mauro.pezze@usi.ch">mauro.pezze@usi.ch</a>.
            <br>
            <br>
            The call will be open till all positions will be assigned.
          </p>
        </ul>
        <hr class="border-info"/>
      </div>


    </div>
  </section>
</div>





